<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JBChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>JBChartView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ToppTurSvalbard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4D175CB198C100D008DA3AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4D175E0198C100D008DA3AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEFD8F1B49868400C87F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEFD991B49868400C87F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEFDB51B49879900C87F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEFDBF1B49879900C87F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
